* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  outline: none;
  display: block;
}

button img {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.video-wrapper {
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
  position: relative;
  width: 640px;
  height: 355px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-wrapper .range-video input {
  position: relative;
  top: -34px;
  width: 610px;
  height: 2px;
  left: 10px;
}

.video-wrapper .range-video input.active {
  position: relative;
  top: -90px;
}

.video-wrapper .video-control {
  position: absolute;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 630px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 370px;
}

.video-wrapper .video-control.active {
  top: 300px;
  -webkit-transition: all ease 0.5;
  transition: all ease 0.5;
  z-index: 1;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.video-wrapper .video-control .play-pause-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-wrapper .video-control .play-pause-btn button {
  margin-right: 20px;
}

.video-wrapper .video-control .sttings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.video-wrapper .video-control .sttings button#seting-btn {
  margin-right: 20px;
  margin-left: 20px;
}

#volume-btn {
  width: 60px;
  height: 2px;
  background: red;
}

#mute-btn {
  position: relative;
  right: 20px;
}

#seting-btn {
  position: relative;
}

.alert {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: none;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 64% 91%, 55% 100%, 46% 91%, 0 91%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 64% 91%, 55% 100%, 46% 91%, 0 91%);
  left: -75px;
  top: -110px;
  border-radius: 10px;
  position: absolute;
  width: 150px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.alert.active {
  display: block;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.alert a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 0;
  border-right-style: 5px;
  display: block;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.alert a:hover {
  background-color: #fff;
  color: #000;
}
/*# sourceMappingURL=main.css.map */